#titulo {
    font-size: 18px;
    font-weight: bold;
    color: rgb(34, 9, 148);
}

#registro,
#principal
#camara {  
    display: none;
}

.errorCampo{
    border-color: red ;
    border-width: 3px;
}

.menu {
    border-radius: 25px;
    width: 0%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#000000b4;
    overflow-x: hidden;
    padding-top: 60px;
    padding-bottom: 50px;
    transition: 0.5s;
    z-index: 1;
}

.botonCerrar{
    position: absolute;
    top:0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: rgb(173,173,255);
    text-decoration: none;
}

.opciones{
    text-decoration: none;
    color: rgb(173, 173, 255);    
}

.inputget{  
    display: none;
}

.container-photo{
    background-color:black;
    margin-bottom: 8px;
    text-align: center;
}

.photo{
    height: 200px;
    object-fit: cover; 
}

body{
    background-color:whitesmoke;

}



